---
layout: default
title: "Heyday"
---

<!-- Hero -->
<section class="flex flex-col overflow-x-clip items-center text-center my-36">
  <h1 class="text-6xl md:text-8xl font-serif">Every day, <br>a better you.</h1>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36">
  <div class="bg-white rounded-lg overflow-hidden shadow-2xl shadow-neutral-300/80 border border-neutral-200/50 relative">
    <img class="w-[998px]" src="{{ 'assets/images/screenshots/new_session_desktop@2x.png' | relative_url }}" alt="">
    <div class="absolute -top-[100%] -right-[100%] -z-10">
      {% include svg/ice-skating.svg fill='#4855E0' %}
    </div>
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-3">
  <h2 class="text-2xl md:text-4xl"><span class="font-sans">Heyday is a new kind of</span> <span class="font-serif">conversational self-care platform.</span></h2>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36">
  <div class="bg-white rounded-lg overflow-hidden shadow-2xl shadow-neutral-300/80 border border-neutral-200/50 relative">
    <img class="w-[998px]" src="{{ 'assets/images/screenshots/current_session_desktop@2x.png' | relative_url }}" alt="">
    <div class="absolute -top-[10%] -right-3/4 -z-10">
      {% include svg/running-1.svg %}
    </div>
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-3">
  <h2 class="text-2xl md:text-4xl text-balance max-w-4xl"><span class="font-serif">Think of it like a journal</span> <span class="font-sans">with augmented intelligence.</span> <span class="font-serif">It’s personal and private space that prompts you to explore everyday thoughts, and feelings.</span></h2>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36">
  <div class="bg-white rounded-lg overflow-hidden shadow-2xl shadow-neutral-300/80 border border-neutral-200/50 relative">
    <img class="w-[998px]" src="{{ 'assets/images/screenshots/dashboard_desktop@2x.png' | relative_url }}" alt="">
    <div class="absolute -top-[10%] -left-3/4 -z-10">
      {% include svg/running-2.svg %}
    </div>
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-3">
  <h2 class="text-2xl md:text-4xl text-balance max-w-4xl"><span class="font-sans">A simple and secure place to revisit your progress.</span> <span class="font-serif">All messages are stored encrypted using a AES-256 bit algorithm and sent via secure HTTPS.</span></h2>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36">
  <div class="w-full max-w-xl flex flex-col gap-1 px-3">
    <button class="group closed accordion-header rounded-[60px] flex flex-col gap-3 items-center py-12 px-8 bg-neutral-100 transition transform ease-in-out delay-150 ">
      <div class="w-full flex justify-center relative">
        <h3 class="font-medium">How does Heyday work?</h3>
        <span class="absolute right-0">
          <span class="group-[.open]:hidden">{% include svg/plus.svg %}</span>
          <span class="group-[.closed]:hidden">{% include svg/minus.svg %}</span>
        </span>
      </div>
      <div class="accordion-content hidden font-serif px-10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus molestiae eaque illum perferendis non quae voluptatem ratione temporibus aspernatur molestias harum ullam omnis.</div>
    </button>
    <button class="group closed accordion-header rounded-[60px] flex flex-col gap-3 items-center py-12 px-8 bg-neutral-100 transition transform ease-in-out delay-150 ">
      <div class="w-full flex justify-center relative">
        <h3 class="font-medium">How does Heyday work?</h3>
        <span class="absolute right-0">
          <span class="group-[.open]:hidden">{% include svg/plus.svg %}</span>
          <span class="group-[.closed]:hidden">{% include svg/minus.svg %}</span>
        </span>
      </div>
      <div class="accordion-content hidden font-serif px-10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus molestiae eaque illum perferendis non quae voluptatem ratione temporibus aspernatur molestias harum ullam omnis.</div>
    </button>
    <button class="group closed accordion-header rounded-[60px] flex flex-col gap-3 items-center py-12 px-8 bg-neutral-100 transition transform ease-in-out delay-150 ">
      <div class="w-full flex justify-center relative">
        <h3 class="font-medium">How does Heyday work?</h3>
        <span class="absolute right-0">
          <span class="group-[.open]:hidden">{% include svg/plus.svg %}</span>
          <span class="group-[.closed]:hidden">{% include svg/minus.svg %}</span>
        </span>
      </div>
      <div class="accordion-content hidden font-serif px-10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus molestiae eaque illum perferendis non quae voluptatem ratione temporibus aspernatur molestias harum ullam omnis.</div>
    </button>
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center mt-36 mb-10">
  <h2 class="text-xl font-semibold">Heyday</h2>
</section>
<section class="w-full flex flex-col items-center text-center sticky bottom-10 mb-36">
  <form action="" class="flex items-stretch rounded-full backdrop-blur-lg bg-neutral-200/30 p-1 font-medium">
    <input type="text" placeholder="Your email" class="placeholder:text-black bg-transparent pl-7 py-4 pr-2 border-0 ring-0 focus:border-0 focus:ring-0 focus:outline-none">
    <button class="px-4 rounded-full bg-brand-orange hover:bg-brand-orange/80 text-white">Try it</button>
  </form>
</section>
