---
layout: default
title: "Heyday"
---

<!-- Hero -->
<section class="flex flex-col overflow-x-clip items-center text-center my-36">
  <h1 class="px-3 max-w-4xl text-3xl md:text-7xl">A new kind of <span class="font-serif">conversational self-care</span> platform.</h1>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-5">
  <div class="relative">
    <div class="bg-zinc-50 rounded-xl md:rounded-lg overflow-hidden shadow-2xl shadow-neutral-300/80 border border-neutral-300/50">
      <img class="max-w-[998px] w-full hidden md:block" src="{{ 'assets/images/new_screenshots/1_desktop.png' | relative_url }}" alt="">
      <img class="max-w-[350px] w-full md:hidden" src="{{ 'assets/images/new_screenshots/1_mobile.png' | relative_url }}" alt="">
    </div>
    <div class="absolute top-0 right-0 w-[400px] h-[400px] -z-10">
      <span class="absolute -top-[40%] -right-[50%]">
        {% include svg/ice-skating.svg fill='#4855E0' %}
      </span>
    </div>
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-3">
  <h2 class="max-w-4xl text-2xl md:text-4xl px-3">It's a personal and private space that prompts you to <span class="font-serif">explore everyday thoughts and feelings.</span></h2>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-5">
  <div class="relative">
    <div class="bg-zinc-50 rounded-xl md:rounded-lg overflow-hidden shadow-2xl shadow-neutral-300/80 border border-neutral-200/50">
      <img class="max-w-[998px] w-full hidden md:block" src="{{ 'assets/images/new_screenshots/2_desktop.png' | relative_url }}" alt="">
      <img class="max-w-[350px] w-full md:hidden" src="{{ 'assets/images/new_screenshots/2_mobile.png' | relative_url }}" alt="">
    </div>
    <div class="absolute top-0 left-0 w-[400px] h-[400px] -z-10">
      <span class="absolute -top-[20%] -left-[60%]">
        {% include svg/running-1.svg fill='#45C30C' %}
      </span>
    </div>
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-3">
  <h2 class="text-2xl md:text-4xl text-balance max-w-4xl"><span class="font-serif">Think of it like a journal</span> <span class="font-sans">with augmented intelligence.</span> <span class="font-serif">A simple and secure place to revisit your progress.</span></h2>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-5">
  <div class="relative">
    <div class="bg-zinc-50 rounded-xl md:rounded-lg overflow-hidden shadow-2xl shadow-neutral-300/80 border border-neutral-200/50">
      <img class="max-w-[998px] w-full hidden md:block" src="{{ 'assets/images/new_screenshots/3_desktop.png' | relative_url }}" alt="">
      <img class="max-w-[350px] w-full md:hidden" src="{{ 'assets/images/new_screenshots/3_mobile.png' | relative_url }}" alt="">
    </div>
    <div class="absolute top-0 right-0 w-[400px] h-[400px] -z-10">
      <span class="absolute -top-[40%] -right-[60%]">
        {% include svg/running-2.svg fill='#FFD600' %}
      </span>
    </div>
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36 px-3">
  <h2 class="text-2xl md:text-4xl text-balance max-w-4xl">All messages are stored encrypted using a <span class="font-serif">AES-256 bit algorithm and sent via secure HTTPS.</span></h2>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center my-36">
  <div class="w-full max-w-xl flex flex-col gap-1 px-3">
    {% for entry in site.data.faqs %}
      <button class="group closed accordion-header rounded-[60px] flex flex-col gap-8 md:gap-12 items-center px-16 md:px-8 py-8 md:py-12 bg-neutral-100 transition transform ease-in-out delay-150 ">
        <div class="w-full flex justify-center relative">
          <h3 class="font-medium text-pretty">{{ entry.question }}</h3>
          <span class="absolute -right-8 md:right-0 inset-y-0 flex items-center">
            <span class="group-[.open]:hidden">{% include svg/plus.svg %}</span>
            <span class="group-[.closed]:hidden">{% include svg/minus.svg %}</span>
          </span>
        </div>
        <div class="accordion-content hidden font-serif md:px-10">{{ entry.answer }}</div>
      </button>
    {% endfor %}
  </div>
</section>
<section class="flex flex-col overflow-x-clip items-center text-center mt-48 mb-10">
  <h2 class="text-6xl md:text-8xl font-serif mb-10">Every day,<br> a better you.</h2>
</section>
<section class="w-full flex flex-col items-center text-center sticky bottom-10 mb-36">
  <form action="https://app.heyday.so/users/new" method="get" class="flex items-stretch rounded-full backdrop-blur-lg bg-neutral-200/30 p-1 font-medium">
    <input type="text" name="user[email]" placeholder="Your email" class="placeholder:text-black bg-transparent pl-7 py-4 pr-2 border-0 ring-0 focus:border-0 focus:ring-0 focus:outline-none">
    <button class="px-4 rounded-full bg-brand-orange hover:bg-brand-orange/80 text-white">Try it</button>
  </form>
</section>
