<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title == site.title %}
      <title>{{ site.title | strip_html }}</title>
    {% else %}
      <title>{{ page.title | strip_html }} — {{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">

    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:description" content="A new kind of conversational self-care platform.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ 'assets/images/heyday-share.png' | absolute_url }}">

    <script defer data-domain="heyday.so" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="antialiased bg-zinc-50">
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
    
    <script src="{{ '/assets/js/accordion.js' | relative_url }}"></script>
  </body>
</html>
